/*
Author: LEE
Version: v2018.06
*/

/***** other effect begin *****/
.color-black { color: black; }
.color-gray { color: grey; }
.color-white { color: white; }

.color-red { color: red; }
.color-orange { color: orange; }
.color-yellow { color: yellow; }
.color-green { color: green; }
.color-cyan { color: cyan; }
.color-blue { color: blue; }
.color-purple { color: purple; }

.color-pink { color: pink; }
.color-brown { color: brown; }



.Opacity0 {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.OpacityBg1 {
    background: rgba(0, 0, 0, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
}
.OpacityBg2 {
    background: rgba(0, 0, 0, 0.2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
}
.OpacityBg3 {
    background: rgba(0, 0, 0, 0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
}
.OpacityBg4 {
    background: rgba(0, 0, 0, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}
.OpacityBg5 {
    background: rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
.OpacityBg6 {
    background: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.OpacityBg7 {
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}
.OpacityBg8 {
    background: rgba(0, 0, 0, 0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8000000,endColorstr=#C8000000);
}
.OpacityBg9 {
    background: rgba(0, 0, 0, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000);
}
/***** other effect end *****/

/***** buttonStyle begin *****/
.btn-click,
.btn-input,
.btn-select {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-readonly-enabled input,
.input-readonly-disabled input {
    cursor: pointer;
}
.input-readonly-enabled input {
    background: #fff;
}
.input-readonly-disabled input {
    background: #f5f5f5;
}

.btn,
.btn-o {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-f12 { font-size: 12px; line-height: 1.66666667; }
.btn-f14 { font-size: 14px; line-height: 1.57142857; }
.btn-f16 { font-size: 16px; line-height: 1.5; }
.btn-f18 { font-size: 18px; line-height: 1.44444444; }
.btn-f20 { font-size: 20px; line-height: 1.4; }

.btn-block { display: block; width: 100%; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    /*outline: 5px auto -webkit-focus-ring-color;*/
    outline-offset: -2px;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-upload { overflow: hidden; position: relative; }
.btn-upload input[type="file"],.btn-upload .file {
    cursor: pointer;
    font-size: 16px;
    width: 600px;
    height: 100%;
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
}
/***** buttonStyle end *****/

/* default style begin */
.btn-action,
.btn-action-o {
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-action,
.btn-action-o {
    border-radius: 4px;
    transition-duration: 0.2s;
}

.btn-add,
.btn-add:link {
    background: #7266ba;
    border: 1px solid #7266ba;
    color: #fff;
}

.btn-add-o,
.btn-add-o:link {

}

.btn-add:hover {}
.btn-add-o:hover {}
.btn-add:active {}
.btn-add-o:active {}

.btn-edit,
.btn-edit:link {}

.btn-edit-o,
.btn-edit-o:link {}

.btn-edit:hover {}
.btn-edit-o:hover {}
.btn-edit:active {}
.btn-edit-o:active {}

.btn-view,
.btn-view:link {
    background: #22b7e5;
    border: 1px solid #22b7e5;
    color: #fff;
}

.btn-view-o,
.btn-view-o:link {}

.btn-view:hover {}
.btn-view-o:hover {}
.btn-view:active {}
.btn-view-o:active {}

.btn-delete,
.btn-delete:link {
    background: #f05050;
    border: 1px solid #f05050;
    color: #fff;
}
.btn-delete-o,
.btn-delete-o:link {}

.btn-delete:hover {}
.btn-delete-o:hover {}
.btn-delete:active {}
.btn-delete-o:active {}

.btn-confirm,
.btn-confirm:link {
    background: #22b7e5;
    border: 1px solid #22b7e5;
    color: #fff;
}

.btn-confirm-o,
.btn-confirm-o:link {}

.btn-confirm:hover {}
.btn-confirm-o:hover {}
.btn-confirm:active {}
.btn-confirm-o:active {}

.btn-cancel,
.btn-cancel:link {
    background: #f2f2f2;
    border: 1px solid #cfdadd;
    color: #637077;
}
.btn-cancel-o,
.btn-cancel-o:link {
    border: 1px solid #ccc;
    color: #C9C9C9;
}

.btn-cancel:hover {}
.btn-cancel-o:hover {}
.btn-cancel:active {}
.btn-cancel-o:active {}

.btn-reset,
.btn-reset:link {
    background: #f2f2f2;
    border: 1px solid #cfdadd;
    color: #637077;
}
.btn-reset-o,
.btn-reset-o:link {}

.btn-reset:hover {}
.btn-reset-o:hover {}
.btn-reset:active {}
.btn-reset-o:active {}

.btn-download,
.btn-download:link {
    background: #7266ba;
    border: 1px solid #7266ba;
    color: #fff;
}
.btn-download-o,
.btn-download-o:link {}

.btn-download:hover {}
.btn-download-o:hover {}
.btn-download:active {}
.btn-download-o:active {}

.btn-add-text {  }
.btn-add-text:link {  }
.btn-add-text:hover {  }
.btn-add-text:active {  }

.btn-edit-text,
.btn-edit-text:link {  }
.btn-edit-text:hover {  }
.btn-edit-text:active {  }

.btn-view-text,
.btn-view-text:link {  }
.btn-view-text:hover {  }
.btn-view-text:active {  }

.btn-delete-text,
.btn-delete-text:link {  }
.btn-delete-text:hover {  }
.btn-delete-text:active {  }

.btn-confirm-text,
.btn-confirm-text:link {  }
.btn-confirm-text:hover {  }
.btn-confirm-text:active {  }

.btn-cancel-text,
.btn-cancel-text:link {  }
.btn-cancel-text:hover {  }
.btn-cancel-text:active {  }
/* button style end */