/*
Author: LEE
Version: v2018.05
*/

/***** reset begin *****/
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

a {
	color: #0096ff;
	text-decoration: none;
}
a:hover,
a:focus {
	color: #0096ff;
	text-decoration: underline;
}

img { vertical-align: middle; }
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}

input:focus,select:focus,textarea:focus { outline: none; }
ul li { list-style: none; }
table {
	border-spacing: 0;
	border-collapse: collapse;
}
td,
th { padding: 0; }
/***** reset end *****/

/***** textStyle begin *****/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
}
sup {top: -.5em;}
sub {bottom: -.25em;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-nowrap {white-space: nowrap;}
.text-lowercase {text-transform: lowercase;}
.text-uppercase {text-transform: uppercase;}
.text-capitalize {text-transform: capitalize;}
/***** textStyle end *****/

/***** buttonStyle begin *****/
.actionBtn,.btn-input,.btn-select {
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.btn {
    background-image: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn-xl { font-size: 20px; line-height: 1.4; padding: 10px 22px; }
.btn-l { font-size: 18px; line-height: 1.44444444; padding: 8px 20px; }
.btn-m { font-size: 16px; line-height: 1.5; padding: 6px 18px; }
.btn-s { font-size: 14px; line-height: 1.57142857; padding: 4px 16px; }
.btn-xs { font-size: 12px; line-height: 1.66666667; padding: 2px 14px; }

.btn-h24 { font-size: 12px; line-height: 1.66666667; padding: 1px 13px; }
.btn-h26 { font-size: 12px; line-height: 1.66666667; padding: 2px 14px; }
.btn-h28 { font-size: 14px; line-height: 1.57142857; padding: 2px 14px; }
.btn-h30 { font-size: 14px; line-height: 1.57142857; padding: 3px 15px; }
.btn-h32 { font-size: 14px; line-height: 1.57142857; padding: 4px 16px; }
.btn-h34 { font-size: 14px; line-height: 1.57142857; padding: 5px 17px; }
.btn-h36 { font-size: 14px; line-height: 1.57142857; padding: 6px 18px; }
.btn-h38 { font-size: 16px; line-height: 1.5; padding: 6px 18px; }
.btn-h40 { font-size: 16px; line-height: 1.5; padding: 7px 19px; }
.btn-h42 { font-size: 16px; line-height: 1.5; padding: 8px 20px; }
.btn-h44 { font-size: 16px; line-height: 1.5; padding: 9px 21px; }
.btn-h46 { font-size: 16px; line-height: 1.5; padding: 10px 22px; }
.btn-h48 { font-size: 16px; line-height: 1.5; padding: 11px 23px; }
.btn-h50 { font-size: 20px; line-height: 1.4; padding: 10px 22px; }

.btn-block { display: block; width: 100%; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-upload { overflow: hidden; position: relative; }
.btn-upload input[type="file"],.btn-upload .file { cursor: pointer; font-size: 16px; width: 600px; height: 100%; opacity: 0; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); position: absolute; right: 0; bottom: 0; z-index: 999; }

.btn-custom {
    background: #ffc949;
    border-radius: 4px;
    color: #fff;
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-custom:link { background: #ffc949; color: #fff; }
.btn-custom:hover { background: #ffb912; color: #fff; }
.btn-custom:active { background: #ccc; color: #fff; }

.btn-custom-o {
    background: #fff;
    border-color: #ffc949;
    border-radius: 20px;
    cursor: pointer;
    color: #ffc949;
    position: relative;
    z-index: 5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-custom-o:link { background: #fff; color: #ffc949; }
.btn-custom-o:hover { background: #fff; color: #ffb912; }
.btn-custom-o:active { border-color: #ccc; color: #ccc; }
/***** buttonStyle end *****/

/***** baseLayout begin *****/
.show { display: block!important; }
.hide { display: none!important; }
.locked,.disabled { pointer-events: none; }
.word-break { word-break: break-all; }
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.marginCenter { margin: 0 auto; }

.fl,.fL { float: left; }
.fr,.fR { float: right; }

.clear:after,
.clearfix:after,
.row-wrapper:after,
.row:after {
	content:" ";
	display:block;
	clear: both;
}

.block-center {
	display: block;
	margin: 0 auto;
}

.abs-center,
.abs-center-t,
.abs-center-top,
.abs-center-l,
.abs-center-left,
.abs-center-r,
.abs-center-right,
.abs-center-b,
.abs-center-bottom {
	margin: auto;
	position: absolute;
}
.abs-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.abs-center-t,
.abs-center-top {
	top: 0;
	left: 0;
	right: 0;
}
.abs-center-l,
.abs-center-left {
	top: 0;
	left: 0;
	right: 0;
}
.abs-center-r,
.abs-center-right {
	top: 0;
	left: 0;
	right: 0;
}
.abs-center-b,
.abs-center-bottom {
	top: 0;
	left: 0;
	right: 0;
}

.container-Adaptive { overflow: hidden; }
.container-Responsive { margin-left: auto; margin-right: auto; padding-right: 5px; padding-left: 5px; }

/* row */
.row-wrapper { overflow: hidden; }

/* col */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-5p,
.col-10p,
.col-15p,
.col-20p,
.col-25p,
.col-30p,
.col-35p,
.col-40p,
.col-45p,
.col-55p,
.col-60p,
.col-65p,
.col-70p,
.col-75p,
.col-80p,
.col-85p,
.col-90p,
.col-95p,
.col-100p {
	float: left;
	position: relative;
	min-height: 1px;
}
.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-5 { width: 41.66666667%; }
.col-6 { width: 50%;}
.col-7 { width: 58.33333333%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 91.66666667%; }
.col-12 { width: 100%; }
.col-5p { width: 5%; }
.col-10p { width: 10%; }
.col-15p { width: 15%; }
.col-20p { width: 20%; }
.col-25p { width: 25%; }
.col-30p { width: 30%; }
.col-35p { width: 35%; }
.col-40p { width: 40%; }
.col-45p { width: 45%; }
.col-50p { width: 50%; }
.col-55p { width: 55%; }
.col-60p { width: 60%; }
.col-65p { width: 65%; }
.col-70p { width: 70%; }
.col-75p { width: 75%; }
.col-80p { width: 80%; }
.col-85p { width: 85%; }
.col-90p { width: 90%; }
.col-95p { width: 95%; }
.col-100p { width: 100%; }
.col-pull-0 { right: auto; }
.col-pull-1 { right: 8.33333333%; }
.col-pull-2 { right: 16.66666667%; }
.col-pull-3 { right: 25%; }
.col-pull-4 { right: 33.33333333%; }
.col-pull-5 { right: 41.66666667%; }
.col-pull-6 { right: 50%; }
.col-pull-7 { right: 58.33333333%; }
.col-pull-8 { right: 66.66666667%; }
.col-pull-9 { right: 75%;}
.col-pull-10 { right: 83.33333333%; }
.col-pull-11 { right: 91.66666667%; }
.col-pull-12 { right: 100%; }
.col-pull-5p { right: 5%; }
.col-pull-10p { right: 10%; }
.col-pull-15p { right: 15%; }
.col-pull-20p { right: 20%; }
.col-pull-25p { right: 25%; }
.col-pull-30p { right: 30%; }
.col-pull-35p { right: 35%; }
.col-pull-40p { right: 40%; }
.col-pull-45p { right: 45%; }
.col-pull-50p { right: 50%; }
.col-pull-55p { right: 55%; }
.col-pull-60p { right: 60%; }
.col-pull-65p { right: 65%; }
.col-pull-70p { right: 70%; }
.col-pull-75p { right: 75%; }
.col-pull-80p { right: 80%; }
.col-pull-85p { right: 85%; }
.col-pull-90p { right: 90%; }
.col-pull-95p { right: 95%; }
.col-pull-100p { right: 100%; }

.col-push-0 { left: auto; }
.col-push-1 { left: 8.33333333%; }
.col-push-2 { left: 16.66666667%; }
.col-push-3 { left: 25%; }
.col-push-4 { left: 33.33333333%; }
.col-push-5 { left: 41.66666667%; }
.col-push-6 { left: 50%; }
.col-push-7 { left: 58.33333333%; }
.col-push-8 { left: 66.66666667%; }
.col-push-9 { left: 75%; }
.col-push-10 { left: 83.33333333%; }
.col-push-11 { left: 91.66666667%; }
.col-push-12 { left: 100%; }
.col-push-5p { left: 5%; }
.col-push-10p { left: 10%; }
.col-push-15p { left: 15%; }
.col-push-20p { left: 20%; }
.col-push-25p { left: 25%; }
.col-push-30p { left: 30%; }
.col-push-35p { left: 35%; }
.col-push-40p { left: 40%; }
.col-push-45p { left: 45%; }
.col-push-50p { left: 50%; }
.col-push-55p { left: 55%; }
.col-push-60p { left: 60%; }
.col-push-65p { left: 65%; }
.col-push-70p { left: 70%; }
.col-push-75p { left: 75%; }
.col-push-80p { left: 80%; }
.col-push-85p { left: 85%; }
.col-push-90p { left: 90%; }
.col-push-95p { left: 95%; }
.col-push-100p { left: 100%; }

.col-offset-0 { margin-left: 0; }
.col-offset-1 { margin-left: 8.33333333%; }
.col-offset-2 { margin-left: 16.66666667%; }
.col-offset-3 { margin-left: 25%; }
.col-offset-4 { margin-left: 33.33333333%; }
.col-offset-5 { margin-left: 41.66666667%; }
.col-offset-6 { margin-left: 50%; }
.col-offset-7 { margin-left: 58.33333333%; }
.col-offset-8 { margin-left: 66.66666667%; }
.col-offset-9 { margin-left: 75%; }
.col-offset-10 { margin-left: 83.33333333%; }
.col-offset-11 { margin-left: 91.66666667%; }
.col-offset-12 { margin-left: 100%; }
.col-offset-5p { margin-left: 5%; }
.col-offset-10p { margin-left: 10%; }
.col-offset-15p { margin-left: 15%; }
.col-offset-20p { margin-left: 20%; }
.col-offset-25p { margin-left: 25%; }
.col-offset-30p { margin-left: 30%; }
.col-offset-35p { margin-left: 35%; }
.col-offset-40p { margin-left: 40%; }
.col-offset-45p { margin-left: 45%; }
.col-offset-50p { margin-left: 50%; }
.col-offset-55p { margin-left: 55%; }
.col-offset-60p { margin-left: 60%; }
.col-offset-65p { margin-left: 65%; }
.col-offset-70p { margin-left: 70%; }
.col-offset-75p { margin-left: 75%; }
.col-offset-80p { margin-left: 80%; }
.col-offset-85p { margin-left: 85%; }
.col-offset-90p { margin-left: 90%; }
.col-offset-95p { margin-left: 95%; }
.col-offset-100p { margin-left: 100%; }

@media (min-width: 768px){
	.container-Responsive { width: 750px; }
	.col-s-1,
	.col-s-2,
	.col-s-3,
	.col-s-4,
	.col-s-5,
	.col-s-6,
	.col-s-7,
	.col-s-8,
	.col-s-9,
	.col-s-10,
	.col-s-11,
	.col-s-12,
	.col-s-5p,
	.col-s-10p,
	.col-s-15p,
	.col-s-20p,
	.col-s-25p,
	.col-s-30p,
	.col-s-35p,
	.col-s-40p,
	.col-s-45p,
	.col-s-50p,
	.col-s-55p,
	.col-s-60p,
	.col-s-65p,
	.col-s-70p,
	.col-s-75p,
	.col-s-80p,
	.col-s-85p,
	.col-s-90p,
	.col-s-95p,
	.col-s-100p {
		float: left;
		position: relative;
		min-height: 1px;
	}
	.col-s-1 { width: 8.33333333%; }
	.col-s-2 { width: 16.66666667%; }
	.col-s-3 { width: 25%; }
	.col-s-4 { width: 33.33333333%; }
	.col-s-5 { width: 41.66666667%; }
	.col-s-6 { width: 50%;}
	.col-s-7 { width: 58.33333333%; }
	.col-s-8 { width: 66.66666667%; }
	.col-s-9 { width: 75%; }
	.col-s-10 { width: 83.33333333%; }
	.col-s-11 { width: 91.66666667%; }
	.col-s-12 { width: 100%; }
	.col-s-5p { width: 5%; }
	.col-s-10p { width: 10%; }
	.col-s-15p { width: 15%; }
	.col-s-20p { width: 20%; }
	.col-s-25p { width: 25%; }
	.col-s-30p { width: 30%; }
	.col-s-35p { width: 35%; }
	.col-s-40p { width: 40%; }
	.col-s-45p { width: 45%; }
	.col-s-50p { width: 50%; }
	.col-s-55p { width: 55%; }
	.col-s-60p { width: 60%; }
	.col-s-65p { width: 65%; }
	.col-s-70p { width: 70%; }
	.col-s-75p { width: 75%; }
	.col-s-80p { width: 80%; }
	.col-s-85p { width: 85%; }
	.col-s-90p { width: 90%; }
	.col-s-95p { width: 95%; }
	.col-s-100p { width: 100%; }
	.col-s-pull-0 { right: auto; }
	.col-s-pull-1 { right: 8.33333333%; }
	.col-s-pull-2 { right: 16.66666667%; }
	.col-s-pull-3 { right: 25%; }
	.col-s-pull-4 { right: 33.33333333%; }
	.col-s-pull-5 { right: 41.66666667%; }
	.col-s-pull-6 { right: 50%; }
	.col-s-pull-7 { right: 58.33333333%; }
	.col-s-pull-8 { right: 66.66666667%; }
	.col-s-pull-9 { right: 75%;}
	.col-s-pull-10 { right: 83.33333333%; }
	.col-s-pull-11 { right: 91.66666667%; }
	.col-s-pull-12 { right: 100%; }
	.col-s-pull-5p { right: 5%; }
	.col-s-pull-10p { right: 10%; }
	.col-s-pull-15p { right: 15%; }
	.col-s-pull-20p { right: 20%; }
	.col-s-pull-25p { right: 25%; }
	.col-s-pull-30p { right: 30%; }
	.col-s-pull-35p { right: 35%; }
	.col-s-pull-40p { right: 40%; }
	.col-s-pull-45p { right: 45%; }
	.col-s-pull-50p { right: 50%; }
	.col-s-pull-55p { right: 55%; }
	.col-s-pull-60p { right: 60%; }
	.col-s-pull-65p { right: 65%; }
	.col-s-pull-70p { right: 70%; }
	.col-s-pull-75p { right: 75%; }
	.col-s-pull-80p { right: 80%; }
	.col-s-pull-85p { right: 85%; }
	.col-s-pull-90p { right: 90%; }
	.col-s-pull-95p { right: 95%; }
	.col-s-pull-100p { right: 100%; }

	.col-s-push-0 { left: auto; }
	.col-s-push-1 { left: 8.33333333%; }
	.col-s-push-2 { left: 16.66666667%; }
	.col-s-push-3 { left: 25%; }
	.col-s-push-4 { left: 33.33333333%; }
	.col-s-push-5 { left: 41.66666667%; }
	.col-s-push-6 { left: 50%; }
	.col-s-push-7 { left: 58.33333333%; }
	.col-s-push-8 { left: 66.66666667%; }
	.col-s-push-9 { left: 75%; }
	.col-s-push-10 { left: 83.33333333%; }
	.col-s-push-11 { left: 91.66666667%; }
	.col-s-push-12 { left: 100%; }
	.col-s-push-5p { left: 5%; }
	.col-s-push-10p { left: 10%; }
	.col-s-push-15p { left: 15%; }
	.col-s-push-20p { left: 20%; }
	.col-s-push-25p { left: 25%; }
	.col-s-push-30p { left: 30%; }
	.col-s-push-35p { left: 35%; }
	.col-s-push-40p { left: 40%; }
	.col-s-push-45p { left: 45%; }
	.col-s-push-50p { left: 50%; }
	.col-s-push-55p { left: 55%; }
	.col-s-push-60p { left: 60%; }
	.col-s-push-65p { left: 65%; }
	.col-s-push-70p { left: 70%; }
	.col-s-push-75p { left: 75%; }
	.col-s-push-80p { left: 80%; }
	.col-s-push-85p { left: 85%; }
	.col-s-push-90p { left: 90%; }
	.col-s-push-95p { left: 95%; }
	.col-s-push-100p { left: 100%; }

	.col-s-offset-0 { margin-left: 0; }
	.col-s-offset-1 { margin-left: 8.33333333%; }
	.col-s-offset-2 { margin-left: 16.66666667%; }
	.col-s-offset-3 { margin-left: 25%; }
	.col-s-offset-4 { margin-left: 33.33333333%; }
	.col-s-offset-5 { margin-left: 41.66666667%; }
	.col-s-offset-6 { margin-left: 50%; }
	.col-s-offset-7 { margin-left: 58.33333333%; }
	.col-s-offset-8 { margin-left: 66.66666667%; }
	.col-s-offset-9 { margin-left: 75%; }
	.col-s-offset-10 { margin-left: 83.33333333%; }
	.col-s-offset-11 { margin-left: 91.66666667%; }
	.col-s-offset-12 { margin-left: 100%; }
	.col-s-offset-5p { margin-left: 5%; }
	.col-s-offset-10p { margin-left: 10%; }
	.col-s-offset-15p { margin-left: 15%; }
	.col-s-offset-20p { margin-left: 20%; }
	.col-s-offset-25p { margin-left: 25%; }
	.col-s-offset-30p { margin-left: 30%; }
	.col-s-offset-35p { margin-left: 35%; }
	.col-s-offset-40p { margin-left: 40%; }
	.col-s-offset-45p { margin-left: 45%; }
	.col-s-offset-50p { margin-left: 50%; }
	.col-s-offset-55p { margin-left: 55%; }
	.col-s-offset-60p { margin-left: 60%; }
	.col-s-offset-65p { margin-left: 65%; }
	.col-s-offset-70p { margin-left: 70%; }
	.col-s-offset-75p { margin-left: 75%; }
	.col-s-offset-80p { margin-left: 80%; }
	.col-s-offset-85p { margin-left: 85%; }
	.col-s-offset-90p { margin-left: 90%; }
	.col-s-offset-95p { margin-left: 95%; }
	.col-s-offset-100p { margin-left: 100%; }
}
@media (min-width: 992px){
	.container-Responsive { width: 970px; }
	.col-m-1,
	.col-m-2,
	.col-m-3,
	.col-m-4,
	.col-m-5,
	.col-m-6,
	.col-m-7,
	.col-m-8,
	.col-m-9,
	.col-m-10,
	.col-m-11,
	.col-m-12,
	.col-m-5p,
	.col-m-10p,
	.col-m-15p,
	.col-m-20p,
	.col-m-25p,
	.col-m-30p,
	.col-m-35p,
	.col-m-40p,
	.col-m-45p,
	.col-m-50p,
	.col-m-55p,
	.col-m-60p,
	.col-m-65p,
	.col-m-70p,
	.col-m-75p,
	.col-m-80p,
	.col-m-85p,
	.col-m-90p,
	.col-m-95p,
	.col-m-100p {
		float: left;
		position: relative;
		min-height: 1px;
	}
	.col-m-1 { width: 8.33333333%; }
	.col-m-2 { width: 16.66666667%; }
	.col-m-3 { width: 25%; }
	.col-m-4 { width: 33.33333333%; }
	.col-m-5 { width: 41.66666667%; }
	.col-m-6 { width: 50%;}
	.col-m-7 { width: 58.33333333%; }
	.col-m-8 { width: 66.66666667%; }
	.col-m-9 { width: 75%; }
	.col-m-10 { width: 83.33333333%; }
	.col-m-11 { width: 91.66666667%; }
	.col-m-12 { width: 100%; }
	.col-m-5p { width: 5%; }
	.col-m-10p { width: 10%; }
	.col-m-15p { width: 15%; }
	.col-m-20p { width: 20%; }
	.col-m-25p { width: 25%; }
	.col-m-30p { width: 30%; }
	.col-m-35p { width: 35%; }
	.col-m-40p { width: 40%; }
	.col-m-45p { width: 45%; }
	.col-m-50p { width: 50%; }
	.col-m-55p { width: 55%; }
	.col-m-60p { width: 60%; }
	.col-m-65p { width: 65%; }
	.col-m-70p { width: 70%; }
	.col-m-75p { width: 75%; }
	.col-m-80p { width: 80%; }
	.col-m-85p { width: 85%; }
	.col-m-90p { width: 90%; }
	.col-m-95p { width: 95%; }
	.col-m-100p { width: 100%; }

	.col-m-pull-0 { right: auto; }
	.col-m-pull-1 { right: 8.33333333%; }
	.col-m-pull-2 { right: 16.66666667%; }
	.col-m-pull-3 { right: 25%; }
	.col-m-pull-4 { right: 33.33333333%; }
	.col-m-pull-5 { right: 41.66666667%; }
	.col-m-pull-6 { right: 50%; }
	.col-m-pull-7 { right: 58.33333333%; }
	.col-m-pull-8 { right: 66.66666667%; }
	.col-m-pull-9 { right: 75%;}
	.col-m-pull-10 { right: 83.33333333%; }
	.col-m-pull-11 { right: 91.66666667%; }
	.col-m-pull-12 { right: 100%; }
	.col-m-pull-5p { right: 5%; }
	.col-m-pull-10p { right: 10%; }
	.col-m-pull-15p { right: 15%; }
	.col-m-pull-20p { right: 20%; }
	.col-m-pull-25p { right: 25%; }
	.col-m-pull-30p { right: 30%; }
	.col-m-pull-35p { right: 35%; }
	.col-m-pull-40p { right: 40%; }
	.col-m-pull-45p { right: 45%; }
	.col-m-pull-50p { right: 50%; }
	.col-m-pull-55p { right: 55%; }
	.col-m-pull-60p { right: 60%; }
	.col-m-pull-65p { right: 65%; }
	.col-m-pull-70p { right: 70%; }
	.col-m-pull-75p { right: 75%; }
	.col-m-pull-80p { right: 80%; }
	.col-m-pull-85p { right: 85%; }
	.col-m-pull-90p { right: 90%; }
	.col-m-pull-95p { right: 95%; }
	.col-m-pull-100p { right: 100%; }

	.col-m-push-0 { left: auto; }
	.col-m-push-1 { left: 8.33333333%; }
	.col-m-push-2 { left: 16.66666667%; }
	.col-m-push-3 { left: 25%; }
	.col-m-push-4 { left: 33.33333333%; }
	.col-m-push-5 { left: 41.66666667%; }
	.col-m-push-6 { left: 50%; }
	.col-m-push-7 { left: 58.33333333%; }
	.col-m-push-8 { left: 66.66666667%; }
	.col-m-push-9 { left: 75%; }
	.col-m-push-10 { left: 83.33333333%; }
	.col-m-push-11 { left: 91.66666667%; }
	.col-m-push-12 { left: 100%; }
	.col-m-push-5p { left: 5%; }
	.col-m-push-10p { left: 10%; }
	.col-m-push-15p { left: 15%; }
	.col-m-push-20p { left: 20%; }
	.col-m-push-25p { left: 25%; }
	.col-m-push-30p { left: 30%; }
	.col-m-push-35p { left: 35%; }
	.col-m-push-40p { left: 40%; }
	.col-m-push-45p { left: 45%; }
	.col-m-push-50p { left: 50%; }
	.col-m-push-55p { left: 55%; }
	.col-m-push-60p { left: 60%; }
	.col-m-push-65p { left: 65%; }
	.col-m-push-70p { left: 70%; }
	.col-m-push-75p { left: 75%; }
	.col-m-push-80p { left: 80%; }
	.col-m-push-85p { left: 85%; }
	.col-m-push-90p { left: 90%; }
	.col-m-push-95p { left: 95%; }
	.col-m-push-100p { left: 100%; }

	.col-m-offset-0 { margin-left: 0; }
	.col-m-offset-1 { margin-left: 8.33333333%; }
	.col-m-offset-2 { margin-left: 16.66666667%; }
	.col-m-offset-3 { margin-left: 25%; }
	.col-m-offset-4 { margin-left: 33.33333333%; }
	.col-m-offset-5 { margin-left: 41.66666667%; }
	.col-m-offset-6 { margin-left: 50%; }
	.col-m-offset-7 { margin-left: 58.33333333%; }
	.col-m-offset-8 { margin-left: 66.66666667%; }
	.col-m-offset-9 { margin-left: 75%; }
	.col-m-offset-10 { margin-left: 83.33333333%; }
	.col-m-offset-11 { margin-left: 91.66666667%; }
	.col-m-offset-12 { margin-left: 100%; }
	.col-m-offset-5p { margin-left: 5%; }
	.col-m-offset-10p { margin-left: 10%; }
	.col-m-offset-15p { margin-left: 15%; }
	.col-m-offset-20p { margin-left: 20%; }
	.col-m-offset-25p { margin-left: 25%; }
	.col-m-offset-30p { margin-left: 30%; }
	.col-m-offset-35p { margin-left: 35%; }
	.col-m-offset-40p { margin-left: 40%; }
	.col-m-offset-45p { margin-left: 45%; }
	.col-m-offset-50p { margin-left: 50%; }
	.col-m-offset-55p { margin-left: 55%; }
	.col-m-offset-60p { margin-left: 60%; }
	.col-m-offset-65p { margin-left: 65%; }
	.col-m-offset-70p { margin-left: 70%; }
	.col-m-offset-75p { margin-left: 75%; }
	.col-m-offset-80p { margin-left: 80%; }
	.col-m-offset-85p { margin-left: 85%; }
	.col-m-offset-90p { margin-left: 90%; }
	.col-m-offset-95p { margin-left: 95%; }
	.col-m-offset-100p { margin-left: 100%; }
}
@media (min-width: 1200px){
	.container-Responsive { width: 1200px; }
	.col-l-1,
	.col-l-2,
	.col-l-3,
	.col-l-4,
	.col-l-5,
	.col-l-6,
	.col-l-7,
	.col-l-8,
	.col-l-9,
	.col-l-10,
	.col-l-11,
	.col-l-12,
	.col-l-5p,
	.col-l-10p,
	.col-l-15p,
	.col-l-20p,
	.col-l-25p,
	.col-l-30p,
	.col-l-35p,
	.col-l-40p,
	.col-l-45p,
	.col-l-50p,
	.col-l-55p,
	.col-l-60p,
	.col-l-65p,
	.col-l-70p,
	.col-l-75p,
	.col-l-80p,
	.col-l-85p,
	.col-l-90p,
	.col-l-95p,
	.col-l-100p {
		float: left;
		position: relative;
		min-height: 1px;
	}
	.col-l-1 { width: 8.33333333%; }
	.col-l-2 { width: 16.66666667%; }
	.col-l-3 { width: 25%; }
	.col-l-4 { width: 33.33333333%; }
	.col-l-5 { width: 41.66666667%; }
	.col-l-6 { width: 50%;}
	.col-l-7 { width: 58.33333333%; }
	.col-l-8 { width: 66.66666667%; }
	.col-l-9 { width: 75%; }
	.col-l-10 { width: 83.33333333%; }
	.col-l-11 { width: 91.66666667%; }
	.col-l-12 { width: 100%; }
	.col-l-5p { width: 5%; }
	.col-l-10p { width: 10%; }
	.col-l-15p { width: 15%; }
	.col-l-20p { width: 20%; }
	.col-l-25p { width: 25%; }
	.col-l-30p { width: 30%; }
	.col-l-35p { width: 35%; }
	.col-l-40p { width: 40%; }
	.col-l-45p { width: 45%; }
	.col-l-50p { width: 50%; }
	.col-l-55p { width: 55%; }
	.col-l-60p { width: 60%; }
	.col-l-65p { width: 65%; }
	.col-l-70p { width: 70%; }
	.col-l-75p { width: 75%; }
	.col-l-80p { width: 80%; }
	.col-l-85p { width: 85%; }
	.col-l-90p { width: 90%; }
	.col-l-95p { width: 95%; }
	.col-l-100p { width: 100%; }
	.col-l-pull-0 { right: auto; }
	.col-l-pull-1 { right: 8.33333333%; }
	.col-l-pull-2 { right: 16.66666667%; }
	.col-l-pull-3 { right: 25%; }
	.col-l-pull-4 { right: 33.33333333%; }
	.col-l-pull-5 { right: 41.66666667%; }
	.col-l-pull-6 { right: 50%; }
	.col-l-pull-7 { right: 58.33333333%; }
	.col-l-pull-8 { right: 66.66666667%; }
	.col-l-pull-9 { right: 75%;}
	.col-l-pull-10 { right: 83.33333333%; }
	.col-l-pull-11 { right: 91.66666667%; }
	.col-l-pull-12 { right: 100%; }
	.col-l-pull-5p { right: 5%; }
	.col-l-pull-10p { right: 10%; }
	.col-l-pull-15p { right: 15%; }
	.col-l-pull-20p { right: 20%; }
	.col-l-pull-25p { right: 25%; }
	.col-l-pull-30p { right: 30%; }
	.col-l-pull-35p { right: 35%; }
	.col-l-pull-40p { right: 40%; }
	.col-l-pull-45p { right: 45%; }
	.col-l-pull-55p { right: 55%; }
	.col-l-pull-60p { right: 60%; }
	.col-l-pull-65p { right: 65%; }
	.col-l-pull-70p { right: 70%; }
	.col-l-pull-75p { right: 75%; }
	.col-l-pull-80p { right: 80%; }
	.col-l-pull-85p { right: 85%; }
	.col-l-pull-90p { right: 90%; }
	.col-l-pull-95p { right: 95%; }
	.col-l-pull-100p { right: 100%; }

	.col-l-push-0 { left: auto; }
	.col-l-push-1 { left: 8.33333333%; }
	.col-l-push-2 { left: 16.66666667%; }
	.col-l-push-3 { left: 25%; }
	.col-l-push-4 { left: 33.33333333%; }
	.col-l-push-5 { left: 41.66666667%; }
	.col-l-push-6 { left: 50%; }
	.col-l-push-7 { left: 58.33333333%; }
	.col-l-push-8 { left: 66.66666667%; }
	.col-l-push-9 { left: 75%; }
	.col-l-push-10 { left: 83.33333333%; }
	.col-l-push-11 { left: 91.66666667%; }
	.col-l-push-12 { left: 100%; }
	.col-l-push-5p { left: 5%; }
	.col-l-push-10p { left: 10%; }
	.col-l-push-15p { left: 15%; }
	.col-l-push-20p { left: 20%; }
	.col-l-push-25p { left: 25%; }
	.col-l-push-30p { left: 30%; }
	.col-l-push-35p { left: 35%; }
	.col-l-push-40p { left: 40%; }
	.col-l-push-45p { left: 45%; }
	.col-l-push-55p { left: 55%; }
	.col-l-push-60p { left: 60%; }
	.col-l-push-65p { left: 65%; }
	.col-l-push-70p { left: 70%; }
	.col-l-push-75p { left: 75%; }
	.col-l-push-80p { left: 80%; }
	.col-l-push-85p { left: 85%; }
	.col-l-push-90p { left: 90%; }
	.col-l-push-95p { left: 95%; }
	.col-l-push-100p { left: 100%; }

	.col-l-offset-0 { margin-left: 0; }
	.col-l-offset-1 { margin-left: 8.33333333%; }
	.col-l-offset-2 { margin-left: 16.66666667%; }
	.col-l-offset-3 { margin-left: 25%; }
	.col-l-offset-4 { margin-left: 33.33333333%; }
	.col-l-offset-5 { margin-left: 41.66666667%; }
	.col-l-offset-6 { margin-left: 50%; }
	.col-l-offset-7 { margin-left: 58.33333333%; }
	.col-l-offset-8 { margin-left: 66.66666667%; }
	.col-l-offset-9 { margin-left: 75%; }
	.col-l-offset-10 { margin-left: 83.33333333%; }
	.col-l-offset-11 { margin-left: 91.66666667%; }
	.col-l-offset-12 { margin-left: 100%; }
	.col-l-offset-5p { margin-left: 5%; }
	.col-l-offset-10p { margin-left: 10%; }
	.col-l-offset-15p { margin-left: 15%; }
	.col-l-offset-20p { margin-left: 20%; }
	.col-l-offset-25p { margin-left: 25%; }
	.col-l-offset-30p { margin-left: 30%; }
	.col-l-offset-35p { margin-left: 35%; }
	.col-l-offset-40p { margin-left: 40%; }
	.col-l-offset-45p { margin-left: 45%; }
	.col-l-offset-55p { margin-left: 55%; }
	.col-l-offset-60p { margin-left: 60%; }
	.col-l-offset-65p { margin-left: 65%; }
	.col-l-offset-70p { margin-left: 70%; }
	.col-l-offset-75p { margin-left: 75%; }
	.col-l-offset-80p { margin-left: 80%; }
	.col-l-offset-85p { margin-left: 85%; }
	.col-l-offset-90p { margin-left: 90%; }
	.col-l-offset-95p { margin-left: 95%; }
	.col-l-offset-100p { margin-left: 100%; }
}

/* w5px ~ w100px */
.w5 { width: 5px; }
.w10 { width: 10px; }
.w15 { width: 15px; }
.w20 { width: 20px; }
.w25 { width: 25px; }
.w30 { width: 30px; }
.w35 { width: 35px; }
.w40 { width: 40px; }
.w45 { width: 45px; }
.w50 { width: 50px; }
.w55 { width: 55px; }
.w60 { width: 60px; }
.w65 { width: 65px; }
.w70 { width: 70px; }
.w75 { width: 75px; }
.w80 { width: 80px; }
.w85 { width: 85px; }
.w90 { width: 90px; }
.w95 { width: 95px; }
.w100 { width: 100px; }

/* w105px ~ w200px */
.w105 { width: 105px; }
.w110 { width: 110px; }
.w115 { width: 115px; }
.w120 { width: 120px; }
.w125 { width: 125px; }
.w130 { width: 130px; }
.w135 { width: 135px; }
.w140 { width: 140px; }
.w145 { width: 145px; }
.w150 { width: 150px; }
.w155 { width: 155px; }
.w160 { width: 160px; }
.w165 { width: 165px; }
.w170 { width: 170px; }
.w175 { width: 175px; }
.w180 { width: 180px; }
.w185 { width: 185px; }
.w190 { width: 190px; }
.w195 { width: 195px; }
.w200 { width: 200px; }

/* w205px ~ w300px */
.w205 { width: 205px; }
.w210 { width: 210px; }
.w215 { width: 215px; }
.w220 { width: 220px; }
.w225 { width: 225px; }
.w230 { width: 230px; }
.w235 { width: 235px; }
.w240 { width: 240px; }
.w245 { width: 245px; }
.w250 { width: 250px; }
.w255 { width: 255px; }
.w260 { width: 260px; }
.w265 { width: 265px; }
.w270 { width: 270px; }
.w275 { width: 275px; }
.w280 { width: 280px; }
.w285 { width: 285px; }
.w290 { width: 290px; }
.w295 { width: 295px; }
.w300 { width: 300px; }

/* w305px ~ w400px */
.w305 { width: 305px; }
.w310 { width: 310px; }
.w315 { width: 315px; }
.w320 { width: 320px; }
.w325 { width: 325px; }
.w330 { width: 330px; }
.w335 { width: 335px; }
.w340 { width: 340px; }
.w345 { width: 345px; }
.w350 { width: 350px; }
.w355 { width: 355px; }
.w360 { width: 360px; }
.w365 { width: 365px; }
.w370 { width: 370px; }
.w375 { width: 375px; }
.w380 { width: 380px; }
.w385 { width: 385px; }
.w390 { width: 390px; }
.w395 { width: 395px; }
.w400 { width: 400px; }

/* w405px ~ w500px */
.w405 { width: 405px; }
.w410 { width: 410px; }
.w415 { width: 415px; }
.w420 { width: 420px; }
.w425 { width: 425px; }
.w430 { width: 430px; }
.w435 { width: 435px; }
.w440 { width: 440px; }
.w445 { width: 445px; }
.w450 { width: 450px; }
.w455 { width: 455px; }
.w460 { width: 460px; }
.w465 { width: 465px; }
.w470 { width: 470px; }
.w475 { width: 475px; }
.w480 { width: 480px; }
.w485 { width: 485px; }
.w490 { width: 490px; }
.w495 { width: 495px; }
.w500 { width: 500px; }

/* w505px ~ w600px */
.w505 { width: 505px; }
.w510 { width: 510px; }
.w515 { width: 515px; }
.w520 { width: 520px; }
.w525 { width: 525px; }
.w530 { width: 530px; }
.w535 { width: 535px; }
.w540 { width: 540px; }
.w545 { width: 545px; }
.w550 { width: 550px; }
.w555 { width: 555px; }
.w560 { width: 560px; }
.w565 { width: 565px; }
.w570 { width: 570px; }
.w575 { width: 575px; }
.w580 { width: 580px; }
.w585 { width: 585px; }
.w590 { width: 590px; }
.w595 { width: 595px; }
.w600 { width: 600px; }

/* w605px ~ w700px */
.w605 { width: 605px; }
.w610 { width: 610px; }
.w615 { width: 615px; }
.w620 { width: 620px; }
.w625 { width: 625px; }
.w630 { width: 630px; }
.w635 { width: 635px; }
.w640 { width: 640px; }
.w645 { width: 645px; }
.w650 { width: 650px; }
.w655 { width: 655px; }
.w660 { width: 660px; }
.w665 { width: 665px; }
.w670 { width: 670px; }
.w675 { width: 675px; }
.w680 { width: 680px; }
.w685 { width: 685px; }
.w690 { width: 690px; }
.w695 { width: 695px; }
.w700 { width: 700px; }

/* w705px ~ w800px */
.w705 { width: 705px; }
.w710 { width: 710px; }
.w715 { width: 715px; }
.w720 { width: 720px; }
.w725 { width: 725px; }
.w730 { width: 730px; }
.w735 { width: 735px; }
.w740 { width: 740px; }
.w745 { width: 745px; }
.w750 { width: 750px; }
.w755 { width: 755px; }
.w760 { width: 760px; }
.w765 { width: 765px; }
.w770 { width: 770px; }
.w775 { width: 775px; }
.w780 { width: 780px; }
.w785 { width: 785px; }
.w790 { width: 790px; }
.w795 { width: 795px; }
.w800 { width: 800px; }

/* w805px ~ w900px */
.w805 { width: 805px; }
.w810 { width: 810px; }
.w815 { width: 815px; }
.w820 { width: 820px; }
.w825 { width: 825px; }
.w830 { width: 830px; }
.w835 { width: 835px; }
.w840 { width: 840px; }
.w845 { width: 845px; }
.w850 { width: 850px; }
.w855 { width: 855px; }
.w860 { width: 860px; }
.w865 { width: 865px; }
.w870 { width: 870px; }
.w875 { width: 875px; }
.w880 { width: 880px; }
.w885 { width: 885px; }
.w890 { width: 890px; }
.w895 { width: 895px; }
.w900 { width: 900px; }

/* w905px ~ w1000px */
.w905 { width: 905px; }
.w910 { width: 910px; }
.w915 { width: 915px; }
.w920 { width: 920px; }
.w925 { width: 925px; }
.w930 { width: 930px; }
.w935 { width: 935px; }
.w940 { width: 940px; }
.w945 { width: 945px; }
.w950 { width: 950px; }
.w955 { width: 955px; }
.w960 { width: 960px; }
.w965 { width: 965px; }
.w970 { width: 970px; }
.w975 { width: 975px; }
.w980 { width: 980px; }
.w985 { width: 985px; }
.w990 { width: 990px; }
.w995 { width: 995px; }
.w1000 { width: 1000px; }

/* w5% ~ w100% */
.w5p { width: 5%; }
.w10p { width: 10%; }
.w15p { width: 15%; }
.w20p { width: 20%; }
.w25p { width: 25%; }
.w30p { width: 30%; }
.w35p { width: 35%; }
.w40p { width: 40%; }
.w45p { width: 45%; }
.w50p { width: 50%; }
.w55p { width: 55%; }
.w60p { width: 60%; }
.w65p { width: 65%; }
.w70p { width: 70%; }
.w75p { width: 75%; }
.w80p { width: 80%; }
.w85p { width: 85%; }
.w90p { width: 90%; }
.w95p { width: 95%; }
.w100p { width: 100%; }

/* h5px ~ h100px */
.h5 { height: 5px; }
.h10 { height: 10px; }
.h15 { height: 15px; }
.h20 { height: 20px; }
.h25 { height: 25px; }
.h30 { height: 30px; }
.h35 { height: 35px; }
.h40 { height: 40px; }
.h45 { height: 45px; }
.h50 { height: 50px; }
.h55 { height: 55px; }
.h60 { height: 60px; }
.h65 { height: 65px; }
.h70 { height: 70px; }
.h75 { height: 75px; }
.h80 { height: 80px; }
.h85 { height: 85px; }
.h90 { height: 90px; }
.h95 { height: 95px; }
.h100 { height: 100px; }

/* h105px ~ h200px */
.h105 { height: 105px; }
.h110 { height: 110px; }
.h115 { height: 115px; }
.h120 { height: 120px; }
.h125 { height: 125px; }
.h130 { height: 130px; }
.h135 { height: 135px; }
.h140 { height: 140px; }
.h145 { height: 145px; }
.h150 { height: 150px; }
.h155 { height: 155px; }
.h160 { height: 160px; }
.h165 { height: 165px; }
.h170 { height: 170px; }
.h175 { height: 175px; }
.h180 { height: 180px; }
.h185 { height: 185px; }
.h190 { height: 190px; }
.h195 { height: 195px; }
.h200 { height: 200px; }

/* h205px ~ h300px */
.h205 { height: 205px; }
.h210 { height: 210px; }
.h215 { height: 215px; }
.h220 { height: 220px; }
.h225 { height: 225px; }
.h230 { height: 230px; }
.h235 { height: 235px; }
.h240 { height: 240px; }
.h245 { height: 245px; }
.h250 { height: 250px; }
.h255 { height: 255px; }
.h260 { height: 260px; }
.h265 { height: 265px; }
.h270 { height: 270px; }
.h275 { height: 275px; }
.h280 { height: 280px; }
.h285 { height: 285px; }
.h290 { height: 290px; }
.h295 { height: 295px; }
.h300 { height: 300px; }

/* h305px ~ h400px */
.h305 { height: 305px; }
.h310 { height: 310px; }
.h315 { height: 315px; }
.h320 { height: 320px; }
.h325 { height: 325px; }
.h330 { height: 330px; }
.h335 { height: 335px; }
.h340 { height: 340px; }
.h345 { height: 345px; }
.h350 { height: 350px; }
.h355 { height: 355px; }
.h360 { height: 360px; }
.h365 { height: 365px; }
.h370 { height: 370px; }
.h375 { height: 375px; }
.h380 { height: 380px; }
.h385 { height: 385px; }
.h390 { height: 390px; }
.h395 { height: 395px; }
.h400 { height: 400px; }

/* h405px ~ h500px */
.h405 { height: 405px; }
.h410 { height: 410px; }
.h415 { height: 415px; }
.h420 { height: 420px; }
.h425 { height: 425px; }
.h430 { height: 430px; }
.h435 { height: 435px; }
.h440 { height: 440px; }
.h445 { height: 445px; }
.h450 { height: 450px; }
.h455 { height: 455px; }
.h460 { height: 460px; }
.h465 { height: 465px; }
.h470 { height: 470px; }
.h475 { height: 475px; }
.h480 { height: 480px; }
.h485 { height: 485px; }
.h490 { height: 490px; }
.h495 { height: 495px; }
.h500 { height: 500px; }

/* h505px ~ h600px */
.h505 { height: 505px; }
.h510 { height: 510px; }
.h515 { height: 515px; }
.h520 { height: 520px; }
.h525 { height: 525px; }
.h530 { height: 530px; }
.h535 { height: 535px; }
.h540 { height: 540px; }
.h545 { height: 545px; }
.h550 { height: 550px; }
.h555 { height: 555px; }
.h560 { height: 560px; }
.h565 { height: 565px; }
.h570 { height: 570px; }
.h575 { height: 575px; }
.h580 { height: 580px; }
.h585 { height: 585px; }
.h590 { height: 590px; }
.h595 { height: 595px; }
.h600 { height: 600px; }

/* h605px ~ h700px */
.h605 { height: 605px; }
.h610 { height: 610px; }
.h615 { height: 615px; }
.h620 { height: 620px; }
.h625 { height: 625px; }
.h630 { height: 630px; }
.h635 { height: 635px; }
.h640 { height: 640px; }
.h645 { height: 645px; }
.h650 { height: 650px; }
.h655 { height: 655px; }
.h660 { height: 660px; }
.h665 { height: 665px; }
.h670 { height: 670px; }
.h675 { height: 675px; }
.h680 { height: 680px; }
.h685 { height: 685px; }
.h690 { height: 690px; }
.h695 { height: 695px; }
.h700 { height: 700px; }

/* h705px ~ h800px */
.h705 { height: 705px; }
.h710 { height: 710px; }
.h715 { height: 715px; }
.h720 { height: 720px; }
.h725 { height: 725px; }
.h730 { height: 730px; }
.h735 { height: 735px; }
.h740 { height: 740px; }
.h745 { height: 745px; }
.h750 { height: 750px; }
.h755 { height: 755px; }
.h760 { height: 760px; }
.h765 { height: 765px; }
.h770 { height: 770px; }
.h775 { height: 775px; }
.h780 { height: 780px; }
.h785 { height: 785px; }
.h790 { height: 790px; }
.h795 { height: 795px; }
.h800 { height: 800px; }

/*h 805px ~ h900px */
.h805 { height: 805px; }
.h810 { height: 810px; }
.h815 { height: 815px; }
.h820 { height: 820px; }
.h825 { height: 825px; }
.h830 { height: 830px; }
.h835 { height: 835px; }
.h840 { height: 840px; }
.h845 { height: 845px; }
.h850 { height: 850px; }
.h855 { height: 855px; }
.h860 { height: 860px; }
.h865 { height: 865px; }
.h870 { height: 870px; }
.h875 { height: 875px; }
.h880 { height: 880px; }
.h885 { height: 885px; }
.h890 { height: 890px; }
.h895 { height: 895px; }
.h900 { height: 900px; }

/* h5% ~ h90% */
.h5p { height: 5%; }
.h10p { height: 10%; }
.h15p { height: 15%; }
.h20p { height: 20%; }
.h25p { height: 25%; }
.h30p { height: 30%; }
.h35p { height: 35%; }
.h40p { height: 40%; }
.h45p { height: 45%; }
.h50p { height: 50%; }
.h55p { height: 55%; }
.h60p { height: 60%; }
.h65p { height: 65%; }
.h70p { height: 70%; }
.h75p { height: 75%; }
.h80p { height: 80%; }
.h85p { height: 85%; }
.h90p { height: 90%; }
.h95p { height: 95%; }
.h100p { height: 100%; }

/* marginTop 5px ~ 50px */
.mg-t5,.mg-T5 { margin-top: 5px; }
.mg-t10,.mg-T10 { margin-top: 10px; }
.mg-t15,.mg-T15 { margin-top: 15px; }
.mg-t20,.mg-T20 { margin-top: 20px; }
.mg-t25,.mg-T25 { margin-top: 25px; }
.mg-t30,.mg-T30 { margin-top: 30px; }
.mg-t35,.mg-T35 { margin-top: 35px; }
.mg-t40,.mg-T40 { margin-top: 40px; }
.mg-t45,.mg-T45 { margin-top: 45px; }
.mg-t50,.mg-T50 { margin-top: 50px; }
.mg-t55,.mg-T55 { margin-top: 55px; }
.mg-t60,.mg-T60 { margin-top: 60px; }
.mg-t65,.mg-T65 { margin-top: 65px; }
.mg-t70,.mg-T70 { margin-top: 70px; }
.mg-t75,.mg-T75 { margin-top: 75px; }
.mg-t80,.mg-T80 { margin-top: 80px; }
.mg-t85,.mg-T85 { margin-top: 85px; }
.mg-t90,.mg-T90 { margin-top: 90px; }
.mg-t95,.mg-T95 { margin-top: 95px; }
.mg-t100,.mg-T100 { margin-top: 100px; }

/* marginBottom 5px ~ 50px */
.mg-b5,.mg-B5 { margin-bottom: 5px; }
.mg-b10,.mg-B10 { margin-bottom: 10px; }
.mg-b15,.mg-B15 { margin-bottom: 15px; }
.mg-b20,.mg-B20 { margin-bottom: 20px; }
.mg-b25,.mg-B25 { margin-bottom: 25px; }
.mg-b30,.mg-B30 { margin-bottom: 30px; }
.mg-b35,.mg-B35 { margin-bottom: 35px; }
.mg-b40,.mg-B40 { margin-bottom: 40px; }
.mg-b45,.mg-B45 { margin-bottom: 45px; }
.mg-b50,.mg-B50 { margin-bottom: 50px; }
.mg-b55,.mg-B55 { margin-bottom: 55px; }
.mg-b60,.mg-B60 { margin-bottom: 60px; }
.mg-b65,.mg-B65 { margin-bottom: 65px; }
.mg-b70,.mg-B70 { margin-bottom: 70px; }
.mg-b75,.mg-B75 { margin-bottom: 75px; }
.mg-b80,.mg-B80 { margin-bottom: 80px; }
.mg-b85,.mg-B85 { margin-bottom: 85px; }
.mg-b90,.mg-B90 { margin-bottom: 90px; }
.mg-b95,.mg-B95 { margin-bottom: 95px; }
.mg-b100,.mg-B100 { margin-bottom: 100px; }

/* marginLeft 5px ~ 50px */
.mg-l5,.mg-L5 { margin-left: 5px; }
.mg-l10,.mg-L10 { margin-left: 10px; }
.mg-l15,.mg-L15 { margin-left: 15px; }
.mg-l20,.mg-L20 { margin-left: 20px; }
.mg-l25,.mg-L25 { margin-left: 25px; }
.mg-l30,.mg-L30 { margin-left: 30px; }
.mg-l35,.mg-L35 { margin-left: 35px; }
.mg-l40,.mg-L40 { margin-left: 40px; }
.mg-l45,.mg-L45 { margin-left: 45px; }
.mg-l50,.mg-L50 { margin-left: 50px; }
.mg-l55,.mg-L55 { margin-left: 55px; }
.mg-l60,.mg-L60 { margin-left: 60px; }
.mg-l65,.mg-L65 { margin-left: 65px; }
.mg-l70,.mg-L70 { margin-left: 70px; }
.mg-l75,.mg-L75 { margin-left: 75px; }
.mg-l80,.mg-L80 { margin-left: 80px; }
.mg-l85,.mg-L85 { margin-left: 85px; }
.mg-l90,.mg-L90 { margin-left: 90px; }
.mg-l95,.mg-L95 { margin-left: 95px; }
.mg-l100,.mg-L100 { margin-left: 100px; }

/* marginRight 5px ~ 50px */
.mg-r5,.mg-R5 { margin-right: 5px; }
.mg-r10,.mg-R10 { margin-right: 10px; }
.mg-r15,.mg-R15 { margin-right: 15px; }
.mg-r20,.mg-R20 { margin-right: 20px; }
.mg-r25,.mg-R25 { margin-right: 25px; }
.mg-r30,.mg-R30 { margin-right: 30px; }
.mg-r35,.mg-R35 { margin-right: 35px; }
.mg-r40,.mg-R40 { margin-right: 40px; }
.mg-r45,.mg-R45 { margin-right: 45px; }
.mg-r50,.mg-R50 { margin-right: 50px; }
.mg-r55,.mg-R55 { margin-right: 55px; }
.mg-r60,.mg-R60 { margin-right: 60px; }
.mg-r65,.mg-R65 { margin-right: 65px; }
.mg-r70,.mg-R70 { margin-right: 70px; }
.mg-r75,.mg-R75 { margin-right: 75px; }
.mg-r80,.mg-R80 { margin-right: 80px; }
.mg-r85,.mg-R85 { margin-right: 85px; }
.mg-r90,.mg-R90 { margin-right: 90px; }
.mg-r95,.mg-R95 { margin-right: 95px; }
.mg-r100,.mg-R100 { margin-right: 100px; }

.pd-t5,.pd-T5 { padding-top: 5px; }
.pd-t10,.pd-T10 { padding-top: 10px; }
.pd-t15,.pd-T15 { padding-top: 15px; }
.pd-t20,.pd-T20 { padding-top: 20px; }
.pd-t25,.pd-T25 { padding-top: 25px; }
.pd-t30,.pd-T30 { padding-top: 30px; }
.pd-t35,.pd-T35 { padding-top: 35px; }
.pd-t40,.pd-T40 { padding-top: 40px; }
.pd-t45,.pd-T45 { padding-top: 45px; }
.pd-t50,.pd-T50 { padding-top: 50px; }
.pd-t55,.pd-T55 { padding-top: 55px; }
.pd-t60,.pd-T60 { padding-top: 60px; }
.pd-t65,.pd-T65 { padding-top: 65px; }
.pd-t70,.pd-T70 { padding-top: 70px; }
.pd-t75,.pd-T75 { padding-top: 75px; }
.pd-t80,.pd-T80 { padding-top: 80px; }
.pd-t85,.pd-T85 { padding-top: 85px; }
.pd-t90,.pd-T90 { padding-top: 90px; }
.pd-t95,.pd-T95 { padding-top: 95px; }
.pd-t100,.pd-T100 { padding-top: 100px; }

.pd-b5,.pd-B5 { padding-bottom: 5px; }
.pd-b10,.pd-B10 { padding-bottom: 10px; }
.pd-b15,.pd-B15 { padding-bottom: 15px; }
.pd-b20,.pd-B20 { padding-bottom: 20px; }
.pd-b25,.pd-B25 { padding-bottom: 25px; }
.pd-b30,.pd-B30 { padding-bottom: 30px; }
.pd-b35,.pd-B35 { padding-bottom: 35px; }
.pd-b40,.pd-B40 { padding-bottom: 40px; }
.pd-b45,.pd-B45 { padding-bottom: 45px; }
.pd-b50,.pd-B50 { padding-bottom: 50px; }
.pd-b55,.pd-B55 { padding-bottom: 55px; }
.pd-b60,.pd-B60 { padding-bottom: 60px; }
.pd-b65,.pd-B65 { padding-bottom: 65px; }
.pd-b70,.pd-B70 { padding-bottom: 70px; }
.pd-b75,.pd-B75 { padding-bottom: 75px; }
.pd-b80,.pd-B80 { padding-bottom: 80px; }
.pd-b85,.pd-B85 { padding-bottom: 85px; }
.pd-b90,.pd-B90 { padding-bottom: 90px; }
.pd-b95,.pd-B95 { padding-bottom: 95px; }
.pd-b100,.pd-B100 { padding-bottom: 100px; }

.pd-l5,.pd-L5 { padding-left: 5px; }
.pd-l10,.pd-L10 { padding-left: 10px; }
.pd-l15,.pd-L15 { padding-left: 15px; }
.pd-l20,.pd-L20 { padding-left: 20px; }
.pd-l25,.pd-L25 { padding-left: 25px; }
.pd-l30,.pd-L30 { padding-left: 30px; }
.pd-l35,.pd-L35 { padding-left: 35px; }
.pd-l40,.pd-L40 { padding-left: 40px; }
.pd-l45,.pd-L45 { padding-left: 45px; }
.pd-l50,.pd-L50 { padding-left: 50px; }
.pd-l55,.pd-L55 { padding-left: 55px; }
.pd-l60,.pd-L60 { padding-left: 60px; }
.pd-l65,.pd-L65 { padding-left: 65px; }
.pd-l70,.pd-L70 { padding-left: 70px; }
.pd-l75,.pd-L75 { padding-left: 75px; }
.pd-l80,.pd-L80 { padding-left: 80px; }
.pd-l85,.pd-L85 { padding-left: 85px; }
.pd-l90,.pd-L90 { padding-left: 90px; }
.pd-l95,.pd-L95 { padding-left: 95px; }
.pd-l100,.pd-L100 { padding-left: 100px; }

.pd-r5,.pd-R5 { padding-right: 5px; }
.pd-r10,.pd-R10 { padding-right: 10px; }
.pd-r15,.pd-R15 { padding-right: 15px; }
.pd-r20,.pd-R20 { padding-right: 20px; }
.pd-r25,.pd-R25 { padding-right: 25px; }
.pd-r30,.pd-R30 { padding-right: 30px; }
.pd-r35,.pd-R35 { padding-right: 35px; }
.pd-r40,.pd-R40 { padding-right: 40px; }
.pd-r45,.pd-R45 { padding-right: 45px; }
.pd-r50,.pd-R50 { padding-right: 50px; }
.pd-r55,.pd-R55 { padding-right: 55px; }
.pd-r60,.pd-R60 { padding-right: 60px; }
.pd-r65,.pd-R65 { padding-right: 65px; }
.pd-r70,.pd-R70 { padding-right: 70px; }
.pd-r75,.pd-R75 { padding-right: 75px; }
.pd-r80,.pd-R80 { padding-right: 80px; }
.pd-r85,.pd-R85 { padding-right: 85px; }
.pd-r90,.pd-R90 { padding-right: 90px; }
.pd-r95,.pd-R95 { padding-right: 95px; }
.pd-r100,.pd-R100 { padding-right: 100px; }
/***** baseLayout end *****/

/***** other effect begin *****/
.color-black { color: black; }
.color-gray { color: grey; }
.color-white { color: white; }

.color-red { color: red; }
.color-orange { color: orange; }
.color-yellow { color: yellow; }
.color-green { color: green; }
.color-cyan { color: cyan; }
.color-blue { color: blue; }
.color-purple { color: purple; }

.color-pink { color: pink; }
.color-brown { color: brown; }

.icon {
	overflow: hidden;
	text-align: center;
}
.iconSize20 {
	width: 20px;
	height: 20px;
	line-height: 20px;
}
.iconSize26 {
	width: 26px;
	height: 26px;
	line-height: 26px;
}
.iconSize30 {
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.iconSize36 {
	width: 36px;
	height: 36px;
	line-height: 36px;
}
.iconSize40 {
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.Opacity0 {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.OpacityBg1 {
	background: rgba(0, 0, 0, 0.1);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
}
.OpacityBg2 {
	background: rgba(0, 0, 0, 0.2);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
}
.OpacityBg3 {
	background: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
}
.OpacityBg4 {
	background: rgba(0, 0, 0, 0.4);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}
.OpacityBg5 {
	background: rgba(0, 0, 0, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
}
.OpacityBg6 {
	background: rgba(0, 0, 0, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
}
.OpacityBg7 {
	background: rgba(0, 0, 0, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
}
.OpacityBg8 {
	background: rgba(0, 0, 0, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8000000,endColorstr=#C8000000);
}
.OpacityBg9 {
	background: rgba(0, 0, 0, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000,endColorstr=#E5000000);
}
/***** other effect end *****/

